{% extends "core/base.html" %}

{% block title %} Eventex {% endblock %}

{% block land_page %}
<div class="coming-soon">
    <div class="inner-bg">
            <div class="row">
                <div class="span12">
                    <div class="logo">
                        <h1><a href="/">Eventex</a></h1>
                    </div>
                    <h2>eventeX</h2>
                    <p>
                        Contagem regressiva para o maior evento do ano !
                    </p>
                    <div class="timer">
                        <div class="days-wrapper">
                            <span class="days"></span> <br>days
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutes
                        </div>
                        <div class="seconds-wrapper">
                            <span class="seconds"></span> <br>seconds
                        </div>
                    </div>
                    <p class="top-arrow">
                        <i class="fa fa-chevron-down"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}