
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height:100%;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #e8643e;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

::-moz-selection { background: #e8643e; color: #fff; text-shadow: none; }
::selection { background: #e8643e; color: #fff; text-shadow: none; }


/***** Top menu *****/

nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998;
	background: #3d3d3d;
	font-size: 18px;
	color: #fff;
    line-height: 32px;
    text-align: center;
}

nav a {
	display: inline-block;
	margin: 0 15px;
	padding: 10px 0;
	color: #fff;
}
nav a:hover { color: #e8643e; }
nav a:focus { color: #fff; }

.show-menu, .hide-menu {
	position: absolute;
	top: -12px;
	right: 100px;
	padding: 0 20px;
	z-index: 999;
	text-align: center;
}

.show-menu a, .hide-menu a {
	display: inline-block;
	width: 46px;
	height: 54px;
	padding-top: 18px;
	background: #3d3d3d;
	font-size: 21px;
	color: #fff;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.show-menu a:hover, .hide-menu a:hover { color: #fff; }


/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.inner-bg {
    padding: 75px 0 40px 0;
}

.coming-soon .logo {
	padding-bottom: 20px;
}

.coming-soon .logo h1 {
	margin: 0;
}

.coming-soon .logo a {
	display: inline-block;
	width: 113px;
	height: 110px;
	background: url(../img/logo.png) center center no-repeat;
	text-indent: -99999px;
}

.coming-soon .logo a:before {
	content: url(../img/logo-hover.png);
	width: 0;
	height: 0;
	visibility: hidden;
}
.coming-soon .logo a:hover { background-image: url(../img/logo-hover.png); }

.coming-soon h2 {
    font-size: 46px;
    font-weight: 100;
}

.coming-soon p {
	margin: 40px 0 10px 0;
	padding: 0 320px;
    font-size: 22px;
    line-height: 36px;
}

.timer {
    margin-top: 60px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 140px;
    margin: 0 10px;
    padding-top: 20px;
    border: 1px solid #fff;
    font-size: 18px;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
    background: #e8643e;
    border: 1px solid #e8643e;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
}

.coming-soon p.top-arrow {
	margin-top: 50px;
	font-size: 36px;
}

.coming-soon p.top-arrow i {
	position: relative;
	width: 100px;
	height: 37px;
	overflow: hidden;
	cursor: pointer;
}

.coming-soon p.top-arrow i:before {
	position: absolute;
	top: 0;
	left: 33.5px;
}

.coming-soon p.top-arrow i:after {
	content: "scroll down";
	position: absolute;
	top: -30px;
	left: 0;
	width: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
}



/***** Footer *****/

footer {
        position:absolute;
    bottom:0;
    width:100%;
	padding: 10px 0 10px 0;
	background: #3d3d3d;
}

.footer-copyright p {
	margin: 0;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.footer-social {
	text-align: right;
}

